@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Literata:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-inria-sans: "Inria Sans";
  --font-literata: Literata;

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-51xl: 70px;
  --font-size-23xl: 42px;
  --font-size-37xl: 56px;

  /* Colors */
  --color-mintcream-100: #e3f0ea;
  --color-mintcream-200: #e3efea;
  --color-white: #fff;
  --color-gray-100: rgba(0, 0, 0, 0.5);
  --color-gray-200: rgba(0, 0, 0, 0.9);
  --color-gray-300: rgba(0, 0, 0, 0.6);
  --color-gray-400: rgba(0, 0, 0, 0.2);
  --color-gray-500: rgba(0, 0, 0, 0.7);
  --color-gray-600: rgba(0, 0, 0, 0.3);
  --color-gray-700: rgba(0, 0, 0, 0.8);
  --color-gray-800: rgba(0, 0, 0, 0.1);
  --color-seagreen-100: #44815f;
  --color-seagreen-200: rgba(88, 170, 125, 0.5);
  --color-seagreen-300: rgba(88, 170, 125, 0.8);
  --color-black: #000;
  --color-forestgreen-100: #4ab751;
  --color-forestgreen-200: #179920;
  --color-darkslateblue: #275294;
  --color-dimgray: rgba(83, 80, 80, 0.8);
  --color-gainsboro: #dbeae3;
  --color-mediumaquamarine: #7bcca0;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-xl: 20px;
  --gap-mid: 17px;
  --gap-4xl: 23px;
  --gap-lgi: 19px;
  --gap-smi-9: 12.9px;
  --gap-mini: 15px;
  --gap-xs-9: 11.9px;
  --gap-58xl: 77px;
  --gap-19xl: 38px;
  --gap-27xl: 46px;
  --gap-94xl: 113px;
  --gap-37xl: 56px;
  --gap-80xl: 99px;
  --gap-30xl: 49px;
  --gap-67xl: 86px;
  --gap-24xl: 43px;
  --gap-17xl: 36px;
  --gap-lg: 18px;
  --gap-3xl: 22px;
  --gap-49xl: 68px;
  --gap-15xl: 34px;
  --gap-110xl-6: 129.6px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-46xl: 65px;
  --gap-xl-6: 20.6px;
  --gap-xl-8: 20.8px;
  --gap-129xl: 148px;
  --gap-18xl: 37px;
  --gap-55xl: 74px;
  --gap-12xl: 31px;
  --gap-2xl: 21px;
  --gap-45xl: 64px;
  --gap-9xl: 28px;
  --gap-5xs: 8px;
  --gap-smi: 13px;
  --gap-xs: 12px;
  --gap-43xl: 62px;
  --gap-39xl: 58px;
  --gap-10xl: 29px;
  --gap-40xl: 59px;
  --gap-xs-1: 11.1px;
  --gap-114xl: 133px;
  --gap-14xl: 33px;
  --gap-47xl: 66px;
  --gap-29xl-9: 48.9px;
  --gap-23xl: 42px;
  --gap-35xl: 54px;
  --gap-8xl: 27px;
  --gap-6xl: 25px;
  --gap-21xl: 40px;
  --gap-32xl: 51px;
  --gap-11xl: 30px;
  --gap-41xl: 60px;
  --gap-25xl: 44px;
  --gap-42xl: 61px;
  --gap-59xl: 78px;
  --gap-20xl: 39px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-27xl: 46px;
  --padding-6xl: 25px;
  --padding-46xl: 65px;
  --padding-23xl: 42px;
  --padding-88xl: 107px;
  --padding-3xs: 10px;
  --padding-8xs: 5px;
  --padding-11xs: 2px;
  --padding-10xs: 3px;
  --padding-9xs: 4px;
  --padding-3xl: 22px;
  --padding-xl: 20px;
  --padding-45xl: 64px;
  --padding-base: 16px;
  --padding-lg: 18px;
  --padding-125xl: 144px;
  --padding-75xl: 94px;
  --padding-34xl: 53px;
  --padding-40xl: 59px;
  --padding-mini: 15px;
  --padding-4xs: 9px;
  --padding-112xl: 131px;
  --padding-66xl: 85px;
  --padding-37xl: 56px;
  --padding-lgi: 19px;
  --padding-98xl: 117px;
  --padding-57xl: 76px;
  --padding-17xl: 36px;
  --padding-51xl: 70px;
  --padding-26xl: 45px;
  --padding-28xl: 47px;
  --padding-mid: 17px;
  --padding-416xl: 435px;
  --padding-482xl: 501px;
  --padding-106xl: 125px;
  --padding-89xl: 108px;
  --padding-231xl: 250px;
  --padding-198xl: 217px;
  --padding-11xs-6: 1.6px;
  --padding-108xl: 127px;
  --padding-109xl: 128px;
  --padding-44xl: 63px;
  --padding-smi: 13px;
  --padding-54xl: 73px;
  --padding-29xl: 48px;
  --padding-30xl: 49px;
  --padding-19xl: 38px;
  --padding-73xl: 92px;
  --padding-39xl: 58px;
  --padding-41xl: 60px;
  --padding-10xl: 29px;
  --padding-9xl: 28px;
  --padding-18xl: 37px;
  --padding-71xl: 90px;
  --padding-123xl: 142px;
  --padding-5xl: 24px;
  --padding-2xs: 11px;
  --padding-4xl: 23px;
  --padding-7xl: 26px;
  --padding-2xl: 21px;
  --padding-566xl: 585px;
  --padding-563xl: 582px;
  --padding-126xl: 145px;
  --padding-127xl: 146px;
  --padding-272xl: 291px;
  --padding-273xl: 292px;
  --padding-8xl: 27px;
  --padding-35xl: 54px;
  --padding-7xs: 6px;
  --padding-50xl: 69px;
  --padding-52xl: 71px;
  --padding-xs: 12px;
  --padding-486xl: 505px;
  --padding-487xl: 506px;
  --padding-107xl: 126px;
  --padding-234xl: 253px;
  --padding-233xl: 252px;
  --padding-184xl: 203px;
  --padding-367xl: 386px;
  --padding-370xl: 389px;
  --padding-174xl: 193px;
  --padding-175xl: 194px;
  --padding-18xl-9: 37.9px;
  --padding-56xl: 75px;
  --padding-20xl-9: 39.9px;
  --padding-12xl: 31px;
  --padding-11xl: 30px;
  --padding-sm: 14px;
  --padding-25xl: 44px;
  --padding-24xl: 43px;
  --padding-20xl: 39px;
  --padding-254xl: 273px;
  --padding-518xl: 537px;
  --padding-115xl: 134px;
  --padding-49xl: 68px;
  --padding-249xl: 268px;
  --padding-117xl: 136px;
  --padding-31xl: 50px;
  --padding-15xl: 34px;
  --padding-86xl: 105px;
  --padding-430xl: 449px;
  --padding-93xl: 112px;
  --padding-205xl: 224px;
  --padding-33xl: 52px;
  --padding-21xl: 40px;
  --padding-6xs: 7px;
  --padding-12xs: 1px;
  --padding-16xl: 35px;
  --padding-413xl: 432px;
  --padding-433xl: 452px;
  --padding-94xl: 113px;
  --padding-207xl: 226px;
  --padding-197xl: 216px;
  --padding-13xl: 32px;
  --padding-418xl: 437px;
  --padding-440xl: 459px;
  --padding-95xl: 114px;
  --padding-90xl: 109px;
  --padding-210xl: 229px;
  --padding-199xl: 218px;
  --padding-22xl: 41px;
  --padding-489xl: 508px;
  --padding-235xl: 254px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-mini: 15px;
  --br-5xs: 8px;
}
